AMPLOPAY_API_BASE_URL=https://app.amplopay.com/api/v1
AMPLOPAY_PUBLIC_KEY=sua_chave_publica_aqui
AMPLOPAY_SECRET_KEY=sua_chave_privada_aqui

PUBLIC_BASE_URL=https://seu-dominio.com

SUPABASE_URL=https://seu-projeto.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sua_service_role_key_aqui
